.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0px;
}
.categories img{
    width: 100px;
}
.panda-slide{
    background-color: rgb(252, 234, 232);
    border-radius: 1em;
}
.price {
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    text-decoration: none;
}
.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}